*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: Gill Sans, sans-serif;
}
body
{
	overflow-x: hidden; 
}
section
{
	padding: 100px;
	background: #fff;
	height: 100vh;
}
section header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
section header .logo
{
	position: relative;
	font-size: 28px;
	color: #111;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	opacity: 0;
	animation: slideLeft 0.5s ease-in-out forwards;
}
section header .toggle
{
	position: relative;
	width: 30px;
	height: 30px;
	background: url(/assets/images/menu.png);
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
    z-index: 10000;
    opacity: 0;
	animation: slideRight 0.5s ease-in-out forwards;
	animation-delay: 0.5s;
}
section header .toggle.active
{
	background: url(/assets/images/close.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}
.navigation
{
	position: absolute;
	display: flex;
	right: 150px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.navigation.active
{
	opacity: 1;
	visibility: visible;
}
.navigation li
{
	list-style: none;
}
.navigation li a
{
	color: #111;
	text-decoration: none;
	font-size: 16px;
	margin: 0 20px;
	font-weight: 600;
	display: inline-block;
	opacity: 0;
	text-transform: uppercase;
}
.navigation.active li a
{
	animation: slideRight 0.5s ease-in-out forwards;
	animation-delay: calc(0.2s * var(--i));
}
.container
 {
    margin: 0;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    line-height: 1.6;
    font-size: 1.5em;
}
.footer
{
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 100px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sci
{
	display: flex;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	color: #111;
	text-decoration: none;
    font-weight: 500;
	margin-right: 20px;
    display: inline-block;
    opacity: 0;
	animation: slideLeft 0.5s ease-in-out forwards;
	animation-delay: calc(0.2s * var(--i));
}
.sci li:last-child a
{
	margin-right: 0;
}
.copyrightText
{
	color: #111;
    font-weight: 500;
    opacity: 0;
	animation: slideRight 0.5s ease-in-out forwards;
	animation-delay: 2.5s;
}

@keyframes slideRight
{
	0%
	{
		transform: translateX(150px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slideLeft
{
	0%
	{
		transform: translateX(-150px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}
@media (max-width: 768px)
{
	section
	{
	    padding: 80px 20px;
	}
	section header
	{
	    height: 70px;
	    padding: 10px 20px;
	}
	.navigation
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
	.navigation li a
	{
	    color: #111;
	    text-decoration: none;
	    font-size: 20px;
	    margin: 5px 10px;
	    letter-spacing: 1px;
	    display: inline-block;
	    font-weight: 600;
	    text-transform: uppercase;
	}
    section .container
	{
		flex-direction: column;
		flex-wrap: wrap;
    	width: calc(100% - 30px);
	}
	.footer
	{
	    width: 100%;
	    padding: 0 20px;
	    flex-direction: column;
	    justify-content: center;
	}
}
.next-blogs {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}
.page-item {
	border: 1px solid;
	padding: 2% 8%;
	text-align: center;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    width: 45%;
}
.page-item:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
  background-color: aqua;
}
.post-item {
	margin: 3% 0;
	padding: 2% 1%;
}
.post-item:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.post-heading{
	margin: 1% 0;
	text-transform: capitalize;
	color: rgb(68, 69, 70);
}
.post-heading:hover{
	color: aqua;
}
.post-excerpt{
	margin: 1% 0;
	font-style: italic;
    font-size: medium;
	color: rgb(68, 69, 70);
}
.post-excerpt:hover{
	color: aqua;
}
.post-tags{
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
    font-size: small;
	color: rgb(68, 69, 70);
}
.post-author{
	color: rgb(68, 69, 70);
	font-style: italic;
	font-size: medium;
}
a{
	text-decoration: none;
}