<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" href="{{ '/assets/images/try.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}">
</head>

<body class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
                    <a class="nav-link" href="{{ '/about' | relative_url }}">About</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="row">
        {% if site.siderbar %}
            <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12">
                {{ content }}
            </div>

            <!-- Sidebar Container -->
            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12">
                <p>This is a beautiful brand new day and I am very happy to see all of this.</p>
            </div>
        {% else %}

        {% endif %}
    </div>

    <!-- <header>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about' | relative_url }}">About</a>
        </nav>
    </header>

    <main>
        <h1 class="center">{{ page.title }}</h1>
    
        <div class="decent" style="font-size: 1.3em;">{{ content }}</div>

        {% if site.sidebar %}
            <p>This is a beautiful brand new day and I am very happy to see all of this.</p>
        {% endif %}
    </main>

    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </footer> -->
</body>
</html>