<!doctype html>
<html>
<head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
	    <link rel="shortcut icon" href="{{ '/assets/images/first_blog.jpg' | relative_url }}">
</head>
<body>
	<section>
		<header>
			<a href="{{ '/' | relative_url }}" class="logo">{{ site.title }}</a>
			<div class="toggle" onclick="toggleMenu();"></div>
			<ul class="navigation">
				<li><a href="{{ '/' | relative_url }}" style="--i:1;">Home</a></li>
				<li><a href="{{ '/about' | relative_url }}" style="--i:2;">About</a></li>
				<!-- <li><a href="#" style="--i:3;">Movies</a></li>
				<li><a href="#" style="--i:4;">Games</a></li>
				<li><a href="#" style="--i:5;">More</a></li> -->
			</ul>
		</header>

		<div class="container">
			{{content}}

            <span class="next-blogs">
                {% if page.previous.url %}
                    <a class="page-item" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
						<div>
							<strong>PREVIOUS</strong><br>
							{{page.previous.title}}
						</div>
					</a>
                {% endif %}

                {% if page.next.url %}
                    <a class="page-item" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
						<div>
							<strong>NEXT</strong><br>
							{{page.next.title}}
						</div>
					</a>
                {% endif %}
            </span>
		</div>

		<div class="footer">
			<ul class="sci">
				<li><a href="https://github.com/DanielTeko-Agbo" style="--i:9">Github</a></li>
				<li><a href="https://x.com/DTeikoAgbo?t=FitnlLpymLpVlfBYlfsOkQ&s=09" style="--i:8">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/daniel-teko-agbo-69a739211/" style="--i:7">LinkedIn</a></li>
			</ul>
			<p class="copyrightText">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
		</div>
	</section>

	<script>
		let imgBx = document.querySelectorAll('.imgBx');
		imgBx.forEach(popup => popup.addEventListener('click', () =>{
			popup.classList.toggle('active')
		}))

		function toggleMenu(){
	      var menuToggle = document.querySelector('.toggle');
	      var navigation = document.querySelector('.navigation');
	      menuToggle.classList.toggle('active');
	      navigation.classList.toggle('active');
	    }
	</script>
</body>
</html>

