---
layout: default
---

<div>

  <!-- {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%} -->

  <section>
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
        <div>
            <div>
                <div>
                <img src="{{ post.image | relative_url }}" />
                <a href="{{ post.url | relative_url }}">
                    <div>
                        <div>{{ post.title | escape }}</div>
                        <span style="align-items: center;">
                            <div>{%- assign date_format = "%b %-d, %Y" -%}{{ post.date | date: date_format }}</div>
                            <!-- <div class="projcard-tagbox">
                                {% for tag in post.tags %}
                                    <span class="projcard-tag">{{tag}}</span>
                                {% endfor %}
                            </div> -->
                        </span>
                        <div></div>
                        <div>{{ post.excerpt | truncatewords: 30 | strip }}</div>
                        <!-- {{ site.tags }} {{ site.categories }} {{ post.excerpt }} {{ post.tags }} {{ post.tag }} -->
                    </div>
                </a>
                </div>
            </div>
        </div>
    {%- endfor -%}

  {%- endif -%}
    
</div>