---
layout: default
---

<div class="decent">

  <!-- {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%} -->

  <section>
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
    <div class="article mt-4 mb-4">
        <h4 class="center">{{ page.list_title | default: "Posts" }}</h4>
    </div>
    {%- for post in site.posts -%}
        <div class="projcard-container">
            <div class="projcard projcard-blue">
                <div class="projcard-innerbox">
                <img class="projcard-img" src="{{ post.image | relative_url }}" />
                <a href="{{ post.url | relative_url }}">
                    <div class="projcard-textbox">
                        <div class="projcard-title">{{ post.title | escape }}</div>
                        <span style="align-items: center;">
                            <div class="projcard-subtitle">{%- assign date_format = "%b %-d, %Y" -%}{{ post.date | date: date_format }}</div>
                            <!-- <div class="projcard-tagbox">
                                {% for tag in post.tags %}
                                    <span class="projcard-tag">{{tag}}</span>
                                {% endfor %}
                            </div> -->
                        </span>
                        <div class="projcard-bar"></div>
                        <div class="projcard-description">{{ post.excerpt | truncatewords: 30 | strip }}</div>
                        <!-- {{ site.tags }} {{ site.categories }} {{ post.excerpt }} {{ post.tags }} {{ post.tag }} -->
                    </div>
                </a>
                </div>
            </div>
        </div>
    {%- endfor -%}

  {%- endif -%}
    
</div>